*{
  font-family: MetaProRegular,  sans-serif !important;
}
.bg-black{
  background-color: black;
}
.MuiTypography-h1{
  color: #fe080b !important;
  font-family: MetaProMedium, sans-serif !important;
}
.MuiTypography-h3{
  color: white !important;
}
/* base */
.base{
  width: 100vw;
  height: 100vh;  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
}
/* nav */
.nav{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(212, 25, 25, 0.19);
}
.nav-content{
  display: flex;
  justify-content: space-between;
}
.nav-content .part1, .part2{
 width: 50%;
}